.internet_education{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 275px;
    width: 1280px;
    /* background-color: brown; */
    margin: 0 auto;
}
.internet_education_colum_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0px 20px; */
    margin: 0px 20px 0px 40px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: 4px #0A62A3 solid;
}
.internet_education_colum_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0px 20px; */
    margin: 0px 40px 0px 20px;
    border-radius: 50px;
    background-color: rgb(124, 0, 177);
}
.colum_1{
    height: 100%;
    /* background-color: rgb(255, 0, 0); */
    border-radius: 35px;
    padding: 20px;
}
.colum_2{
    height: 100%;
    background-color: rgb(255, 0, 0);
    border-radius: 35px;
    padding: 20px;
}
.colum_1 h1{
    color: rgb(0, 0, 0);
}
.colum_1 p{
    color: rgb(0, 0, 0);
}
.colum_1 button{
    margin-top: 20px;
    border: none;
    height: 40px;
    font-size: 20px;
    border-radius:35px;
    background-color: white;
    color: black;
}