.menu{
    background: url("../img/besit.jpg");
    height: 100vh;
    background-size: cover;
    font-family: "ice";
}
.menu h1{
    display: grid;
    text-align: center;
    align-items: center;
    padding-top: 340px;
    color:  white;
    
}
