.nav{
    width: 1920px;
    background-color: rgba(0, 0, 0, 0.541);
    position: fixed;
    /* padding: 20px 0px; */
    z-index: 10;
    height: 90px;
    /* padding-top: 90px; */
    
}
.container_nav{
    display: grid;
    width: 1280px;
    grid-template-columns: 1fr 1.1fr 1.2fr 1fr 1.2fr 1.2fr 1.5fr 1fr 1fr 1fr ;
    height: 90px;
    margin: 0 auto;
    /* background-color: blueviolet; */
    /* overflow: hidden; */
}
.container_nav img{
    padding-top: 5px;
    height: 85px;
}
/* .nav_text{
    text-align: center;
    color: #ffffff;
    /* font-family: "Extra_Bold"; */
    /* padding-top: 30px; */
/* } */ 
.container_nav a{
    text-align: center;
    color: #ffffff;
    /* font-family: "Extra_Bold"; */
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
}
.continen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200px;
}
.continen .row1{
    background: url("../img/news_two.jpg");
    background-size: cover;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    border: 4px #0A62A3 solid;
    border-radius: 30px;
    position: relative;
}
.continen .row2{
    background: url("../img/news_three.jpg");
    background-size: cover;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    border: 4px #0A62A3 solid;
    border-radius: 30px;
    position: relative;
    /* position: absolute; */
    
}
.block_shadow{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.562);
}
.block_shadow p{
    color: white;
    font-size: 17.9px;
}
