.nav{
    width: 1920px;
    background-color: rgba(0, 0, 0, 0.541);
    position: fixed;
    /* padding: 20px 0px; */
    z-index: 10;
    height: 90px;
    /* padding-top: 90px; */
    
}
.container_nav{
    display: grid;
    width: 1280px;
    grid-template-columns: 1fr 1.1fr 1.2fr 1fr 1.2fr 1.2fr 1.5fr 1fr 1fr 1fr ;
    height: 90px;
    margin: 0 auto;
    /* background-color: blueviolet; */
    /* overflow: hidden; */
}
.container_nav img{
    padding-top: 5px;
    height: 85px;
}
/* .nav_text{
    text-align: center;
    color: #ffffff;
    /* font-family: "Extra_Bold"; */
    /* padding-top: 30px; */
/* } */ 
.container_nav a{
    text-align: center;
    color: #ffffff;
    /* font-family: "Extra_Bold"; */
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
}
