.news{
    /* height: 2800px; */
    background-color: rgb(255, 255, 255);
}
.container_news{
    width: 800px;
    /* height: 2900px; */
    margin-left: 15%;
    /* background-color: brown; */
}
.container_news h1{
    color: #343b4c;
    font-family: "Bold";
    font-weight: 400;
}
.container_news p{
    padding-left: 15px;
}
.container_news_img{
    background: url("../img/polk.jpg");
    height: 400px;
    background-size: cover;
    background-position-y: 900px;
}

