.start{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 1000px;
    margin: 0 auto;
    height: 500px;
    gap: 30px;
    background-color: rgba(17, 255, 0, 0);
    grid-template-areas: 
        "one one two two"
        "one one two two"
        "one one three three"
        "one one three three"
    ;
}
.one{
    background-color: red;
    grid-area: one;
}
.two{
    background-color: green;
    grid-area: two;
}
.three{
    background-color: blue;
    grid-area: three;
}
.one_img{
    background: url("../img/news_one.jpg");
    background-size: cover;
    height: 100%;
    background-position: 600px;
}
.two_img{
    background: url("../img/news_two.jpg");
    background-size: cover;
    height: 100%;
}
.three_img{
    background: url("../img/news_three.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.one_text{

}
.two_text{

}
.three_text{

}

    