.start{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 1280px;
    margin: 0 auto;
    height: 275px;
    gap: 10px;
    background-color: rgb(17, 255, 0);
    grid-template-areas: 
        "one one two two"
        "one one two two"
        "one one three three"
        "one one three three"
    ;
}
.one{
    background-color: red;
    grid-area: one;
    height: 500px;
}
.two{
    background-color: rgb(17, 255, 0);
    grid-area: two;
    height: 250px;
    width: 250px;
}
.three{
    background-color: blue;
    grid-area: three;
    height: 250px;
    width: 250px;
}
    