.start{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 1280px;
    margin: 0 auto;
    /* padding-top: 50px;s */
    height: 500px;
    /* padding: 50px 0px; */
    gap: 30px;
    background-color: rgba(17, 255, 0, 0);
    grid-template-areas: 
        "one one two two"
        "one one two two"
        "one one three three"
        "one one three three"
    ;
}
.one{
    background-color: red;
    grid-area: one;
}
.two{
    background-color: green;
    grid-area: two;
}
.three{
    background-color: blue;
    grid-area: three;
}
.one_img{
    background: url("../img/news_one.jpg");
    background-size: cover;
    height: 100%;
    background-position: 600px;
    overflow: hidden;
    position: relative;
}
.two_img{
    background: url("../img/news_two.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.three_img{
    background: url("../img/news_three.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.one_text{

}
.two_text{

}
.three_text{

}
.a1{
    background-color:rgba(0, 0, 0, 0.562); 
    position: absolute; 
    width: 100%; 
    bottom:0;
    padding: 15px 0px; 
}
.a1 h1{
    display: grid;
    color: white;
    font-size: 20px;
    padding-left: 15px;
}
a{
    display: grid;
    color: white;
    font-size: 20px;
    padding-left: 15px;
}



  